/* @override http://localhost:9292/global.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Layout */
body, html {
  height: 100%;
}

body {
  background-color: #c7ecfa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(199, 236, 250)),to(rgb(166, 226, 249)));
  background-image: -webkit-linear-gradient(top, rgb(199, 236, 250), rgb(166, 226, 249));
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #555;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

.floater {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -259px;
  margin-top: -33px;
} 
  
.container {
  margin: 0 auto;
  width: 500px;
  height: 48px;
  background: #E0E4CC;
  padding: 18px;
  border-radius: 18px;
  box-shadow: 6px 6px 24px #888;
}

input:focus {
  outline: none;
}

input[type=text] {
  border: 0;
  font-size: 24px;
  padding: 6px;
  width: 150px;
  margin-left: 12px;
}

input[type=submit] {
  font-size: 24px;
  border: 0;
  padding: 6px;
  background: #F38630;
  color: #fff;
}

input[type=submit]:hover {
  background: #FA6900;
}

#result {
  height: 156px;
  margin-top: 24px;
  margin-left: 12px;
}

.key {
  width: 120px;
  display: inline-block;
  font-weight: bold;
}

.autocomplete-w1 {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 6px 0 0 6px;
}
  
.autocomplete {
  width: 150px;
  border: 1px solid #999;
  background: #FFF;
  cursor: default;
  text-align: left;
  max-height: 350px;
  overflow: auto;
  margin: -6px 6px 6px -6px;
}

.autocomplete .selected {
  background: #F0F0F0;
}

.autocomplete div {
  padding: 2px 5px;
  white-space: nowrap;
  overflow:hidden;
}

.autocomplete strong {
  font-weight: normal;
  color: #3399FF;
}